<!DOCTYPE html>
<html>
<head>
  <title>RolloutSpice</title>
  <%= stylesheet_link_tag    "rollout_spice/application", media: "all" %>
  <%= javascript_include_tag "rollout_spice/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
